.container_form {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.container_input {
    flex: 1;
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container_input input {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #d8dbe0;
    border-radius: .25rem;
    color: #768192;
    font-size: .875rem;
    font-weight: 400;
    height: 20px;
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.container_input span {
    font-size: 12px;
    color: red;
}

.container_input select {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #d8dbe0;
    border-radius: .25rem;
    color: #768192;
    font-size: .875rem;
    font-weight: 400;
    height: 34px;
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.container_input input:focus,
.container_input select:focus {
    outline: 3.5px solid rgb(171, 208, 246);
    transition: .1s all ease-in-out;
}

.container_input input .invalid {
    border-color: #e55353;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23e55353%27 viewBox=%270 0 12 12%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23e55353%27 stroke=%27none%27/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    background-position: right calc(0.375em + 0.1875rem) center;


}

.container_input input:focus .invalid {
    outline: none;
    border: 1px solid #e55353;
}

.container_input input:disabled {
    background-color: #d8dbe0;
}
